<head>
<Link rel="stylesheet" href="css/automarket.css" type="text/css" />
</head>
<body>
<div>
 <h1> {{ automarket.name }} </h1>

  <div>
    <hr>
   <h2> {{ automarket.description }} </h2>

    <hr>
    <a class="button6" ng-click="showAddPersonal()">Додати співробітника</a>
    <div ng-if="isAddPerosnal">
      <label>Ім'я</label>
        <input type="text" ng-model="newPersonal.name">
      <label>Опис</label>
        <input type="text" ng-model="newPersonal.description">
     <a class="button12" ng-click="addPersonal(newPersonal)">Зберегти</a>
    </div>

    <ui ng-repeat="member in automarket.personal track by $index">
      <li>
        {{ member.name }} - {{ member.description }}
        <button class="button" ng-click="removeMember(member._id)">Х</button>
      </li>
    </ui>

    <hr>
    <a class="button6" ng-click="showAddAuto()">Додати автомобіль</a>
    <div ng-if="isAddAuto">
      <label>Ім'я</label><input type="text" ng-model="newAuto.name">
      <label>Опис</label><input type="text" ng-model="newAuto.description">
      <label>Колір</label><input type="color" ng-model="newAuto.color">
      <label>Ціна</label><input type="number" step="1" ng-model="newAuto.price">
      <a class="button12" ng-click="addAuto(newAuto)">Зберегти</a>
    </div>
    <ui ng-repeat="auto in automarket.auto track by $index">
      <li>
        <span ng-click="goToAutoPage(auto._id)">{{ auto.name }} - [ціна: {{ auto.price }}] - [опис: {{ auto.description }}]</span>
        <button class="button" ng-click="removeAuto(auto._id)">Х</button>
      </li>
    </ui>

  </div>
</div>
</body>